/* * Generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #090909;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* Repetitive things */
.flex-center-childs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Layout */
.wrapper {
  display: grid;
  min-height: 100vh;
  height: auto;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 30vh 60vh 10vh;
}

/* ? Styling */

/* ! Header */
.header {
  color: #fff;
  background-color: #000000;
}
/* ! Main */
.main {
  display: grid;
}
/* ! Footer */
.footer {
  color: #fff;
  background-color: #000000;
}
